.App {
    text-align: center;
    border: 3px solid #282c34;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 200px;
    display: ;
    flex-direction: ;
    align-items: ;
    justify-content: ;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.food_card {
    border-radius: 15px;
    margin: 15px;
    width: 295px;
    height: 350px;
    box-shadow: 5px 5px 5px 5px gray;
    transition: 0.5s;
}

.food_card:hover {
    box-shadow: 1px 1px 1px 1px gray;
    transition: 0.5s;
    transform: scale(0.99);
}

.all_foods {
    border-radius: 15px;
    margin: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.images {
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    height: 50%;
}

.home {
    float: left;
}

.orderlist {
    float: right;
}